body {
    background-color: #f8f4f2;
}

* {
    color: #705041;
    font-family: 'Libre Baskerville', serif;
}
a:hover{
    opacity:55%;
}

a {
    text-decoration: none;
}

/*.page__wrap {
    position:relative;
    min-height:100vh;
}
.content__wrap {
    padding-bottom:150px;

TRYING TO KEEP FOOTER AT BOTTOM OF PAGE :(
} */

/*.page__wrap {
    display:flex;
    flex-direction: column;
    min-height:100%;
}*/


/*         NAVIGATON       */
.page__wrap {
    display:flex;
    flex-direction: column;
    min-height:100vh;
}
/*.content__wrap {
    position:relative;
    min-height:100vh;
}*/
.content__wrap {
    padding:0 25%;
}

.main-nav {
    /*background-color:slategray;*/
    display:flex;
    justify-content:space-between;
    align-items:center;
   
    padding: 10px 20%;
    max-width:100%;
    height:150px;
    overflow:hidden;

}

.main-nav__co__logo {
    width:62px;
    height:62px;
    /*align-self:center;
    display:inline-flex;*/
    
}

.main-nav__co__name {
    font-size:64px;
    display: inline-flex;
    
}

.main-nav__name--color {
    color: #f1a78e;
}

.main-nav__list__item {
    list-style-type:none;
    padding:10px 20px;
    display: inline-flex;


} 
.main-nav__break {
    width:50%;
    border: 0.5px solid #705041;
    border-radius:0.25px;

}

/*      FOOTER */
footer {
    background-color:/*#ebcec0*/ #f1d6c9;
    padding: 0;
    padding-bottom:10px;
    width:100%;
    /*position:absolute;
    bottom:0;*/
    margin-top:auto;
    /*position:absolute;
    bottom:0%;*/
}
.footer {
    display:flex;
    align-items:center;
    flex-direction:column;

}

.footer__co__logo {
    width:40px;
    height:40px;
}
.footer__co__name {
    font-size:40px;
    display:inline-flex;
    margin:20px 0 0 ;
}
.footer__co--color {
    color:#f1a78e; 
}
.footer__copyrights {
    align-self:center;
    font-size:12px;
}
.footer-socials__logo{
    width:35px;
    height:35px;
    display:inline;
    flex-wrap: nowrap;
}
.footer__location {
    font-size:12px;
    margin:6px;
    padding-bottom:10px;
}

/*        CONTACT PAGE    */
.contact {
    display:flex;
    flex-flow:column wrap;
    align-items:center;
}
.contact-form {
    background-color:#F1A78E;
    border-radius: 10px;
    padding:10px;
    width:60%;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:10px 0;
}
.contact-form__title {
    font-size:40px;
    font-weight:bolder;
    margin-left:5px;
}

.contact-form__subtitle {
    font-size:20px;
    align-self:flex-start;
    font-weight:bolder;
    margin-left:20px;
}

.contact-form__input {
    background-color: #f8f4f2;
    border-color:#f8f4f2;
    border-style:none;
    border-radius:10px;
    width:90%;
    height:40px;
    margin:5px;
}
.contact-form-message {
    display:flex;
    flex-direction:column;
    width:90%;
}
.contact-form__textarea {
    background-color:#f8f4f2;
    border:none;
    border-radius:10px;
    resize:none;
    padding-top:10px;
}
.contact-form__button {
    background-color:#fcd0c3;
    width:20%;
    height:35px;
    align-self:flex-end;
    border:none;
    border-radius:10px;

}
.socials {
    display:flex;
    flex-flow: column wrap;
    align-items:center;
    

}

.contact__title {
    font-size:50px;
    text-align:center;
}

.socialsgit p__wrap {
    padding:0px;
}
.socials__logo {
    width: 150px;
    height: 150px;
    display:inline;
    flex-wrap:nowrap;
}

.subscribe {
    display:flex;
    flex-flow:column wrap;
    align-items:center;
}
.subscribe__form {
    background-color: #f1a78e;
    display:flex;
    flex-flow: column wrap;
    align-items:center;
}
.subscribe-c__form {
    width:425px;
    height: 275px;
    border-radius:10px;
}
.subscribe__label {
    padding:30px 0 10px;
    font-weight:bolder;
    font-size:40px;
}

.subscribe-c__label {
    padding:30px 0 10px;
    font-size:40px;
}
.subscribe__info {
    color:#f8f4f2;
    font-weight:bolder;
}

.subscribe__input {
    border-color:#f8f4f2;
    background-color:#f8f4f2;
    border-style:none;
    text-align:center;
}
.subscribe-c__input {
    width:160px;
    height:30px;
    border-radius:10px;
}
.subscribe__button {
    width:140px;
    height:40px;
    border-radius: 10px;
    background-color:#fcd0c3;
    border-color:#fcd0c3;
    border-style:none;
    /*color:#f8f4f2;*/
}
.subscribe-c__button {
    width:140px;
    height:40px;
    border-radius: 10px;
}
.subscribe__button:hover {
    opacity:90%;
}
.reach-info {
    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    padding:20px 0;
}
.reach-info__icon {
    width:30px;
    height:30px;
}

.hero-wrap {
    padding-top:20px;
}
.hero__image {
    background-image:url('../img/Donuts.jpg');
    height:400px;
    max-width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero__logo {
    width:45px;
    height:45px;
    padding-top:10px;
    /*position:absolute;
    top: 45%;
    left: 37%;
    transform: translate(-50%, -50%);
    opacity:100%;*/
}

.hero__text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:100%;
    display: inline-flex;
}
.hero__text--cont {
    background-color:#f8f4f2;
    opacity:85%;
    padding:0px 20px;
    
}
.columns {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
}
.content-h__wrap a:hover:not(.recipe-preview__button){
    opacity:90%;
}
.recipe-preview {
    display:flex;
    align-items:center;
    flex-flow: wrap column;
    padding:30px 0 10px 0;
}
.recipe-preview__image {
    width:350px;
    height:250px;
    padding-bottom:15px;
     
}
.recipe-preview__title {
    font-size:30px;
    font-weight:bolder;
    
}
.recipe-preview__button {
    width:150px;
    height:50px;
    padding: 0 5px;
    background-color:#f1a78e;
    font-weight:bolder;
    font-size:15px;
    border:none;
    border-radius:10px;
    color:#f8f4f2;
}

.recipe-preview__image {
    position:relative;
    text-align: center;
    color: white;

}
.recipe-preview__cont {
    background-color:#f8f4f2;
    padding:10px;
    opacity:85%;
}
.recipe-preview__title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-preview__logo {
    width:75px;
    height:75px;
    display:block;
}
.about__preview__blurb {
    text-indent: 50px;
    text-align: center;
    padding:10px;
}
.about-preview__logo--cont {
    display:block;
}
.about-preview {
    width:425px;
    height:650px;
    border-radius:10px;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
}
.about-preview-socials__logo {
    width:50px;
    height:50px;
    
}
.subscribe--home {
    padding:30px 0;
    display:flex;
    justify-content:center;
}
.subscribe-h__form {
    width:370px;
    height: 220px;
    border-radius:10px;
}
.subscribe-h__label {
    padding:20px 0 1px;
    font-size:35px;
}
.subscribe-h__info {
    font-size:16px;
}

.subscribe-h__input {
    width:135px;
    height:20px;
    border-radius:10px;
}
.subscribe-h__button {
    width:125px;
    height:30px;
    border-radius: 10px;
}

.breads__wrap , .sweetbreads__wrap , .breakfast__wrap , .desserts__wrap, .macarons__wrap {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
}
.content-r__wrap a:hover{
    opacity:90%;
}

.recipe-gallery__image--size {
    width:45%;
    margin:1%;
    display:flex;

}

.recipe-gallery__image {
    width:100%;
  
}
.recipe-gallery__image--position {
    align-self:flex-start;
    position:relative;
    text-align:center;
  
}
.recipe-gallery__title {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:bolder;
}
.recipe-gallery__cont {
    background-color:#f8f4f2;
    padding:10px;
    opacity:85%;
}