body {
    background-color: #f8f4f2;
}

* {
    color: #705041;
    font-family: 'Libre Baskerville', serif;
}
a:hover{
    opacity:55%;
}

a {
    text-decoration: none;
}

.main-nav {
    /*background-color:slategray;*/
    display:flex;
    justify-content:space-between;
    align-items:center;
   
    padding: 10px 250px;
    max-width:100%;
    height:150px;
    overflow:hidden;

}

.main-nav__co__logo {
    width:62px;
    height:62px;
    /*align-self:center;
    display:inline-flex;*/
    
}

.main-nav__co__name {
    font-size:64px;
    display: inline-flex;
    
}

.main-nav__name--color {
    color: #f1a78e;
}

.main-nav__list__item {
    list-style-type:none;
    padding:10px 20px;
    display: inline-flex;


} 
.main-nav__break {
    width:50%;
    border: 0.5px solid #705041;
    border-radius:0.25px;

}

footer {
    background-color:#ebcec0;
    padding: 0;
    width:100%;
    position:fixed;
    bottom:0;
}
.footer {
    display:flex;
    align-items:center;
    flex-direction:column;

}

.footer__co__logo {
    width:40px;
    height:40px;
}
.footer__co__name {
    font-size:40px;
    display:inline-flex;
    margin:20px 0 0 ;
}
.footer__co--color {
    color:#f1a78e; 
}
.footer__copyrights {
    align-self:center;
    font-size:12px;
}
.footer__location {
    font-size:12px;
    margin:6px;
}
.socials {
    display:flex;
    flex-flow: column wrap;
    align-items:center;
    padding: 0 25%;

}

.socials__title {
    text-decoration: none;
    font-size:50px;
    display:block;
}

.socials__wrap {
    padding:0px;
}
.socials__logo {
    width: 150px;
    height: 150px;
    display:inline;
    flex-wrap:nowrap;
}